

section#contact__section .row .col-12 .icons .box span {
 font-size: 1.3rem;
 text-transform: capitalize;
}
 .box#ig {
 color: #ef0074;
}
 .box#lk {
 color: #0982c0;
}
 .box#fb {
 color: #43609c;
}
.box#tw {
 color: #189acd;
}

main.contact__section1 {
 background-color: #fafafa;
 padding: 3rem;
}

main.contact__section1 button.btn__cv {
 font-family: 'Rubik', sans-serif;
 padding: 0.8rem 3rem;
 font-size: 1rem;
 font-weight: bold;
 border-radius: 0.3rem;
 transition: all 1s;
 background-color: #fff;
 color: var(--dark);
 border: 3px solid var(--dark);
}

main.contact__section1 button.btn__cv:hover {
 background-color: #000;
 color: var(--tomato);
}
