section#skills__section1 {
    padding: 2rem 4rem;
    background-color: #fafafa;
}

section#skills__section1 .row .col .card {
    width: 20rem;
    height: 22rem;
    border: 0.5rem solid #fff;
    box-shadow: 2px 3px 10px #000;
}

section#skills__section1 .row .col p {
    margin-top: 1rem;
    text-align: center;
    font-size: 1.5rem;
    letter-spacing: -1px;
}

@media screen and (max-width: 630px){
    section#skills__section1 .row .col .card {
        width: 25rem;
        height: 26rem;
    }
}